body {
    margin: 0;
    height: 100%;
    width: 100%;
}


/* Desk */


.desk {

    display: flex;
    align-items: baseline;
    height: calc(100vh - 40px);
    width: 100vw;
    overflow: hidden;
    flex-wrap: wrap;
    flex-flow: column;
    background-color: wheat;
    background-image: url('assets/orange.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Right click menu*/

.rCMenu {
    display: flex;
    position: fixed;
    width: 250px;
    height: 100px;
    background-color: transparent;
    border-radius: 10px;
    flex-direction: column;
}

.right-click-cfg,
.change-bg {
    width: inherit;
    height: 50%;
    border: 0.5px;
    background-color: black;
    border-color: white;
    border-radius: 10px;
    border-style: solid;
}

.icons-grid {
    margin: 8px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

/* ¡¡¡ Icons are spans for styling !!!*/

span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    padding: 10px;
    margin: 15px;
    margin-left: 0.1em;
    transition: background-color 0.2s ease;
    text-align: center;
    border-radius: 1em;
    font-weight: 900;
}

.icon-text {
    margin-top: 0.5em;
    width: 60px;
    font-size: 0.7rem;
    text-align: center;
    font-family: 'Lucida Console', monospace;
    color: white;
    text-shadow: 1px 1px 2px black;
}

/* Default windows */

.window {
    display: flex;
    position: fixed;
    width: 500px;
    height: 500px;
    background-color: gray;
    left: 35%;
    top: 20%;
    opacity: 1;
    border-radius: 20px;
    box-sizing: border-box;
    resize: both;
    overflow: auto;
}

.window-header-bar {
    border-radius: inherit;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    height: 45px;
    width: 100%;
    background-color: black;
    border-color: rgb(59, 58, 58);
    color: white;
    text-align: center;
    align-items: center;
    border-style: outset;
    justify-content: space-between;
}

.window-buttons-grid {
    display: flex;
    height: 40px;
    margin-right: 10px;
    width: 100px;
    margin-top: 5px;
}

.window-button {
    height: 33px;
    width: 33px;
    background-color: inherit;
    color: beige;
    border-style: none;
    border-radius: 100%;
}

/* Task bar active programs styling */

.active-program {
    color: rgb(255, 166, 0);
    height: 40px;
    width: 40px;
    background-color: black;
    border: 0;
    margin: 10px;
}

/* Programs styling */

/* Browser */

.browser {
    display: flex;
    position: fixed;
    width: 500px;
    height: 500px;
    background-color: black;
    left: 35%;
    top: 20%;
    opacity: 1;
    border-radius: 20px;
    box-sizing: border-box;
    resize: both;
    overflow: hidden;
    flex-direction: column;
}

.browser-nav-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #393A3F;
    height: 40px;
}

.browser-nav-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    margin-left: 5px;
    margin-right: 5px;
    background-color: inherit;
    height: 100%;
}

.browser-search-bar {
    display: flex;
    /*height: 100%; This was not working*/
    width: 70%;
    border-color: #55577A;
    border-style: solid;
    border-radius: 10px;
    margin: 5px;
    margin-left: 10px;
    margin-right: 20px;

}

.browser-adress-bar {
    width: 100%;
    background-color: inherit;
    border: none;
    border-radius: 10px;
    font-family: 'Lucida Console', monospace;
    color: white;
    outline: none;
}

.go-btn-container {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100%;

}

/* Caculator */

.calculator-main-container {
    resize: none;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 550px;
    border: outset black 3px;
    border-radius: 20px;
    margin-top: 30px;
}

.calculator-display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Lucida Console', monospace;
    font-size: 40px;
    width: 350px;
    height: 85px;
    border: ridge grey 3px;
    border-radius: 10px;
    margin: 40px;
    background-color: darkolivegreen;
}

.calculator-button-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 350px;
    height: 350px;
    margin-left: 7px;
}

.calculator-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: outset lightseagreen 1px;
    margin: 9.2px;
    margin-left: 16px;
    margin-top: 10px;
    font-family: 'Lucida Console', monospace;
    border-radius: 15px;
    user-select: none;
    -moz-user-select: none;
}

/* Terminal */

.terminal-window {
    display: flex;
    position: fixed;
    width: 500px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.6);
    left: 35%;
    top: 20%;
    opacity: 1;
    border-radius: 20px;
    box-sizing: border-box;
    resize: both;
    overflow: hidden;
    flex-direction: column;
}


/* Taskbar */

.flatbar {
    display: flex;
    font-family: 'Lucida Console', monospace;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: black;
    border-color: black;
    color: white;
    text-align: center;
    align-items: center;
    border-style: none;
    justify-content: space-between;
}

.left-taskbar {
    display: flex;
    align-items: center;
}

.hmenu {
    height: 40px;
    width: 40px;
    color: white;
    background-color: black;
    margin-right: 10px;
    border-style: none;
    margin-left: 5px;
    border-radius: 10px;
}

.displayed-menu {
    display: flex;
    bottom: 50px;
    left: 0px;
    width: 200px;
    height: 400px;
    background-color: black;
    position: fixed;
    z-index: 1000;
    border-top-right-radius: 10px;
    flex-direction: column;
}

.hmenu-icon-text {
    margin-top: 0.5em;
          color: white;
          width: 60px;
          font-size: 0.7rem;
          text-align: center;
          font-family: 'Lucida Console', monospace;
}

/* Clock */

.clock-display {
    justify-content: center;
    align-content: center;
    width: auto;
    margin: 10px;
}

/* Show desk button */

.show-desk-btn {
    background-color: black;
    height: 50px;
    width: 20px;
    border-radius: 2px;
    border-style: line;
}